<! application.html.erbに共通部分としてまとめてある >

<div class="about-main">
  <h2>BookDetectとは</h2>
  <p>
    SNSサービスです。
    つぶやきを投稿し、コミュニケーションできます。
    また、書籍検索機能もついています。
  </p>
    <img class="about-img" src="/Gassiev.jpg"> <! tweet.pngの画像はpc内に無いので表示されない。>
</div>