<! application.html.erbに共通部分としてまとめてある >

<div class="about-main">
  <h2>TweetAppとは</h2>
  <p>
    SNSサービスです。
    近況やつぶやきを投稿し、他のユーザーと楽しくコミュニケーションできます。
  </p>
    <img class="about-img" src="/Gassiev.jpg"> <! tweet.pngの画像はpc内に無いので表示されない。>
</div>