<div class="books_info">
  <h3>書籍ランキング上位５冊</h3>
  <table border="1">
    <thead>
      <tr>
        <th>書籍名</th>
        <th>価格</th>
        <th>画像のURL</th>
      </tr>
    </thead>
    <tbody>
      <% @books.each do |book| %>
        <tr>
          <td><%= book[:name] %></td>
          <td><%= book[:price] %>円</td>
          <td><%= book[:image_url] %></td>
          <td><%=  %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>