<div class='content'>
  <div id="search-box">
    <p><span>書籍検索</span></p>
    <%= form_tag('/books/search', {method: :get}) do %>
        <%= text_field_tag :book, "",  id: "book_search", name: "keyword", placeholder: "キーワードを打ち込んでください", style: "width: 300px;", height: "40px;" %><button title="検索" type="submit">検索</button>
    <% end %>
  </div>
  <% if @books %>
    <%= render "books/book_list" %>
  <% end %>
</div>
